.card.active{
	/*background-color:red;*/
	opacity: 1;	
}
.card{
	cursor:pointer;
	background-color:white;
	margin-bottom:0px;	
	opacity: 0.6;
	height: 140px;	
}
.complete-card{
	cursor:no-drop;
	background-color:white;
	margin-bottom:0px;	
	opacity: 0.6;	
	height: 140px;	
}
.card .verso{
	display:none;
}
.card.active .verso{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.card.active .recto{
	display: none;
}
.calendar{
	padding: 0px;
	background-image: url('fight_cats.jpg') ;
}
.cardForm{
	margin-bottom:0px;	
	height: 50px;
	cursor:pointer;		
}
