template(name="creationForm")
	form
		div.form-group
			label(for="mailDest") Destination email
			input(type="email", class="form-control", placeholder="Enter email")#mailDest
		div.form-group
			label(for="backImg") Choose a background image
			input(type="file")#backImg